*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container_utama{
    background-image: radial-gradient(#FACEB5, #C08261);

}
/* bagian navbar */
.container{
    min-height: 80vh;
    width: 100%;
    background-image: url(/asset/Coffee_\ The\ Liquid\ Miracle\ 1.png);
    background-repeat:round;
    /* background-size: contain; */
    display: flex;
    position: relative;
    /* z-index: 1; */
}
.hero{
    flex-grow: 1;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;

}
.navbar{
    display: flex;
    justify-content: center;
    height: 40px;
    flex-grow: 9;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.navbar li{
    margin-top: 20px;
    border: 1px solid white;
    padding: 10px 40px;
}
.navbar li a{
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.text{
    position: absolute;
    width: 50%;
    margin: 40vh 0 0 8vh;
    font-size: 20px;
    z-index: 1;
    color: white;
}
.texthead{
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
}

/* end navbar */
.container_buku{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 50px;
}
.box_book{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.box_book button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: whitesmoke;
    background-color: #9A3B3B;
}
/* bagian menu */
.best{
    margin-top: 100px;
    text-align: center;
}

.box_container{
    width: 70%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.box{
    width: 400px;
    height: 400px;
    margin: 40px auto;
    background-color: #C08261;
    border-radius: 10px;
    text-align: center;
}
.box img{
    margin-left: 5px;
}
.box p{
    margin: 5px;
}

.box button{
    width: 150px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: blanchedalmond;
}

/* end bagian menu */

/* bagian buku */

/* end buku */
/* bagian owner */
.owner{
    width: 50%;
    /* padding: 20px; */
    margin: 20px auto;
    border-radius: 20px;
    background-color: #C08261;
}

.owner .image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.owner .image .text_owner{
    width: 60%;
    margin-top: 20px;
}
.owner .image .text_owner h1{
    margin-bottom: 20px;
}

/* end bagian owner */

/* bagian testimonial */

.testi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box_testi{
    width: 400px;
    /* height: 400px; */
    margin: 50px auto;
    background-color: #FACEB5;
    border-radius: 20px;
    /* box-shadow: 10px 10px  30px 10px black; */
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.418)
    
}
.box_testi .box1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.box_testi .box1 h3{
    margin-top: 20px;
}
hr{
    width: 200px;
    margin-top: 10px;
    border: 2px solid black;
}

.box_testi .box1 p{
    margin-top: 20px;
    text-align: center;
}

/* end bagian testimonial */




